.white{
  color: #FFFFFF;
}
.red{
  color: $main_red;
}
.black{
  color: $main_black;
}
.gray{
  color: #9B9B9B;
}
.orange{
  color: #FF7663;
}
.lighter{
  font-weight: lighter;
}
.normal{
  font-weight: normal;
}
.background_red{
  background-color: $main_red;
}
.background_white{
  background-color: #FFFFFF;
}
.background_black{
  background-color: #444444;
}
.border_red{
  border: 1px solid $main_red ;
}
.border_black{
  border:1px solid #444444;
}
.sub_link{
  color: #003470;
  text-decoration: underline;
}
.vertical_align{
  vertical-align: middle;
}
.black_border_block{
  @extend .border_black;
  margin:15px 25px;
  padding: 30px;
}
.l_line:before{
  @extend .red;
  content:'|';
  font-size:16px;
  margin: 0 15px;
}
.cursor_pointer{
  cursor: pointer;
}
.background_img_setting{
  @include background_size_cover;
  background-position: center;
}
.border_main_radius{
  @include border_radius($main_radius);
}
.border_sub_radius{
  @include border_radius($sub_radius);
}
.border_circle{
  @include border_radius(50%);
}
.border_none_radius{
  @include border_radius(0px);
}
.fluid{
  width: 100%;
}
.height_fluid{
  height: 100%;
}
.small_btn{
  width: 84px;
  height: 32px;
}
.red_circular{
  position: relative;
  width: 100%;
  padding-top: 100%;
  &:before,&:after,& *{
    content:' ';
    @extend .border_circle;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  &:before{
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #F58D91;
  }
  &:after{
    z-index: 2;
    width: 90%;
    height: 90%;
    background-color: #EC1C24;
  }
  & *{
    margin: 0;
    z-index: 3;
    width: 84%;
    height: 84%;
    background-color: #FFFFFF;
    @extend .flex_center;
  }
}
.square_icon {
  @include square_icon;
}
.flex{
  @include flex;
}
.flex_wrap{
  @include flex_wrap(wrap);
}
.flex_space_around{
  @include flex_(inherit,space-around);
}
.flex-direction_column{
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.vertical_space_around{
  @extend .flex;
  @extend .flex_space_between;
  @extend .flex-direction_column;
}
.flex_space_between{
  @include flex_(inherit,space-between);
}
.flex_justify_end{
  @include flex_(inherit,flex-end);
}
.flex_center_start{
  @include flex_(inherit,flex-start);
}
.flex_center{
  @include flex_(center,center);
}
.flex_vertical_center{
  @include flex_(center,inherit);
}
.bold{
  font-weight: bold;
}
.red_line{
  border-bottom: 1px solid $main_red;
  width: 100%;
  margin:15px auto;
  display: block;
}

.gray{
  color: #D4D5D6;
}
.gray_line{
  border-bottom: 1px solid #D4D5D6;
  width: 100%;
  margin:15px auto;
  display: block;
}
.absolute_center{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.four_btn{
  @extend .df;
  [class*=_btn],[class*=_btn_reserve]{
    @include calc(width,'100% / 4');
    margin: 5px;
    &:focus{
      color: #FFFFFF;
    }
    i{
      font-size: 40px;
    }
    p{
      line-height: 10px;
      margin: 0;
    }
  }
}
.five_btn{
  @extend .df;
  [class*=_btn],[class*=_btn_reserve]{
    @include calc(width,'100% / 5');
    margin: 5px;
    &:focus{
      color: #FFFFFF;
    }
    i{
      font-size: 40px;
    }
    p{
      line-height: 10px;
      margin: 0;
    }
  }
}

.square_img{
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  @extend .background_img_setting;
  img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}
@mixin align_two_side{
  &:after,&:before{
    content:' ';
    display: table;
  }
  &:after{
    clear: both;
  }
  &>:first-child{
    float: left;
  }
  &>:last-child{
    float: right;
  }
}
.align_two_side{
  @include align_two_side;
}
.align_two_side_sm{
  @include align_two_side;
}
@media (max-width: $screen-xs-max ){
  .align_two_side_sm{
    & > :last-child,& > :first-child{
      float: inherit;
      display: block;
    }
  }
}
